---
interface Props {
  id: string
  title?: string
}

const { id, title = 'YouTube video player' } = Astro.props
---

<div class="my-8">
  <iframe
    width="560"
    height="315"
    src={`https://www.youtube.com/embed/${id}`}
    title={title}
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    class="w-full aspect-video rounded-lg shadow-lg border-0"
  ></iframe>
</div>
