OPENAI_API_KEY=
GOOGLE_API_KEY=
TAVILY_API_KEY=
GRAPHQL_API_KEY=TestKey
DATABASE_URL="postgresql://chatweb:password@gai-chatweb-db:5432/chatweb?schema=public"
TYPESENSE_API_HOST="localhost"
TYPESENSE_API_PORT="8108"
TYPESENSE_API_PROTOCOL="http"
TYPESENSE_API_KEY="xyz"
UPLOADS_PATH=./.uploads
