node_modules
**/.turbo
-vercel
.vinxi
.next
.output
**/.env
**/.env.*
.pb_data
.typesense-data
**/.smb-credentials
**/.smb-mounts
**/.sharepoint-credentials
**/.uploads
*.md
.git
.gitignore
**/.DS_Store
dist
*.log
**/Dockerfile
**/tsconfig.json
**/README.md