.DS_Store
.turbo
dist
.next
node_modules
.env
.env*.local
.cache
gaidata
build
.pnp.*
.typesense-data
.postgres-data*
.claude
.smb-credentials
.smb-mounts
.sharepoint-credentials
# Python virtual environments do not work accross computers
.venv
venv
.test-cache

# Fine-tuning
apps/fine-tuning/split_output
apps/fine-tuning/adapters_*
apps/fine-tuning/finetune-output/
apps/fine-tuning/hf-to-gguf/
apps/fine-tuning/jsonl/raw/qa-data.jsonl
apps/fine-tuning/jsonl/george-ai/
apps/fine-tuning/venv
apps/fine-tuning/.venv
apps/fine-tuning/*.env
apps/fine-tuning/node_modules/
apps/fine-tuning/models/
apps/fine-tuning/fused_model/
apps/fine-tuning/gguf_models/
