.DS_Store
.claude
.nats-data
.pgadmin-data
.postgres-data*
.qdrant-data
.typesense-data
.turbo
dist
node_modules
.env
.env*.local
build
.smb-credentials
.smb-mounts
.crawler-credentials
playwright-report
.venv
venv
.test-cache
.temp
.astro
.storage
.test-uploads
.uploads
*.pdf
