{
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^@george-ai/(.*)$", "^[./]", "^../", "^@/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderSideEffects": false,
  "tailwindStylesheet": "./apps/georgeai-webapp/src/index.css",
  "importOrderParserPlugins": ["typescript", "tsx", "jsx", "xml", "html", "md", "decorators-legacy"]
}
