pnpm-lock.yaml
.output
.uploads
.turbo
.posgres-data*
.typesense-data
.node_modules
.venv
.smb-mounts
.smb-credentials
.crawler-credentials
packages/pothos-graphql/prisma/generated
routeTree.gen.ts
.dockerignore
.gitignore
.astro
