{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@george-ai/(.*)$", "^[./]", "^../", "^@/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderSideEffects": false
}
