:root {
  --keycloak-logo-height: 100px;
  --keycloak-logo-width: 100px;
}

.login-pf body {
  background: white;
  background-size: cover;
  height: 100%;
}

div#kc-header-wrapper {
  background: white;
  color: black;
}

div.kc-logo-text {
  height: var(--keycloak-logo-height);
  width: var(--keycloak-logo-width);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 10 auto;
  color: black;
}

div.kc-logo-text span {
  display: none;
}
