:root {
  --keycloak-logo-height: 100px;
  --keycloak-logo-width: 100px;
}

div.kc-logo-text {
  height: var(--keycloak-logo-height);
  width: var(--keycloak-logo-width);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 10 auto;
}

div.kc-logo-text span {
  display: none;
}
