TYPESENSE_API_HOST=
TYPESENSE_API_PORT=
TYPESENSE_API_PROTOCOL=
TYPESENSE_API_KEY=
OPENAI_API_KEY=
TAVILY_API_KEY=

KEYCLOAK_REDIRECT_URL=http://localhost:3001
KEYCLOAK_REALM=george-ai
KEYCLOAK_URL=http://localhost:8180
KEYCLOAK_CLIENT_ID=george-ai-web

BACKEND_URL=http://localhost:3003 #accessible from the web server
BACKEND_PUBLIC_URL=https://localhost:3003 #accessible from the browser

GRAPHQL_API_KEY=

GOOGLE_DRIVE_CLIENT_ID=176382309527-6t54rtt6se9v5sk3l7p9vlca60hc0a1b.apps.googleusercontent.com
GOOGLE_DRIVE_CLIENT_SECRET=

GIT_COMMIT_SHA=local-dev-web