version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the typesense container, allows "forwardPorts" in devcontainer.json function.

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  gai-typesense:
    image: typesense/typesense:27.1
    container_name: gai-typesense
    restart: unless-stopped
    environment:
      - TYPESENSE_API_HOST=gai-typesense
      - TYPESENSE_API_PORT=8108
      - TYPESENSE_API_PROTOCOL=http
      - TYPESENSE_API_KEY=xyz
    ports:
      - '8108:8108'
    volumes:
      - ../.typesense-data:/typesensedata
    command: '--data-dir /typesensedata --api-key=xyz --enable-cors --enable-access-logging --enable-search-logging --log-dir=/typesensedata'

  # gai-pocketbase:
  #   build: ../apps/pocketbase
  #   container_name: gai-pocketbase
  #   restart: unless-stopped
  #   environment:
  #     - GAI_WEBHOOK_URL=http://app:3001/api/process-documents
  #   ports:
  #     - '8090:8090'
  #   volumes:
  #     - ../apps/pocketbase/pb_data:/pb/pb_data
  #     - ../apps/pocketbase/pb_public:/pb/pb_public
  #     - ../apps/pocketbase/pb_hooks:/pb/pb_hooks
  #     - ../apps/pocketbase/pb_migrations:/pb/pb_migrations
  #   healthcheck: # optional, recommended since v0.10.0
  #     test: wget --no-verbose --tries=1 --spider http://localhost:8090/api/health || exit 1
  #     interval: 5s
  #     timeout: 5s
  #     retries: 5

  gai-chatweb-db:
    image: postgres:16
    container_name: gai-chatweb-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: chatweb
      POSTGRES_USER: chatweb
      POSTGRES_PASSWORD: password
    ports:
      - '5434:5432'
    volumes:
      - ../.postgres-data-chatweb:/var/lib/postgresql/data

  gai-keycloak-db:
    image: postgres:16
    container_name: gai-keycloak-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    ports:
      - '5433:5432'
    volumes:
      - ../.postgres-data-keycloak:/var/lib/postgresql/data

  gai-keycloak:
    image: quay.io/keycloak/keycloak:26.0.7
    container_name: gai-keycloak
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://gai-keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password

      KC_HOSTNAME: localhost
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false

      KC_LOG_LEVEL: info
      KC_METRICS_ENABLED: true
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: start-dev
    depends_on:
      - gai-keycloak-db
    ports:
      - 8180:8080

  gai-crawl4ai:
    # Crawl4AI has no Docker image that is up-to-date, so we build it from source.
    # However, the latest version (v0.5.0.post1) is broken when using deep crawl (https://github.com/unclecode/crawl4ai/issues/855)
    # It seems to be fixed on main branch, so we use that instead.
    # In order to prevent the build from failing in the future, we use the current (2025-04-10) commit hash from main branch.
    # build: https://github.com/unclecode/crawl4ai.git#e1d9e2489cd736d3af9992209268c0f601222c1a

    # And now main is also broken, so we use a patch branch from the main branch.
    # see https://github.com/unclecode/crawl4ai/issues/842#issuecomment-2782881522
    build: https://github.com/unclecode/crawl4ai.git#2025-MAR-ALPHA-1

    container_name: gai-crawl4ai
    restart: unless-stopped
    ports:
      - '11235:8000'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:11235/health']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
