@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --depth: 0;
  --color-primary: var(--color-blue-700);
}
@plugin "daisyui/theme" {
  name: 'dark';
  --depth: 0;
  --color-primary: var(--color-blue-500);
}
