LOG_LEVEL=INFO

DATABASE_URL="postgresql://chatweb:password@gai-chatweb-db:5432/chatweb2?schema=public"

STORAGE_PATH_WORKSPACES=/workspaces/george-ai/.storage/workspace-storage
STORAGE_PATH_WORKSPACES_BACKUP=/workspaces/george-ai/.storage/workspace-storage-backup
STORAGE_PATH_ASSISTANTS=/workspaces/george-ai/.storage/assistant-storage
STORAGE_PATH_USERS=/workspaces/george-ai/.storage/user-storage
STORAGE_PATH_CREDENTIALS=/workspaces/george-ai/.storage/credential-storage
STORAGE_PATH_LEGACY_LIBRARIES=/workspaces/george-ai/.uploads

CRAWLER_CREDENTIALS_DIR=/workspaces/george-ai/apps/georgeai-backend/.crawler-credentials

ENCRYPTION_KEY=238524c10d9c2ef586b2bb4b6d541fe6580325e9e7763b372331d277a2be42df

GRAPHQL_API_KEY=TestKey

TEST_DB_HOST=gai-chatweb-db
TEST_DB_PORT=5432
TEST_DB_USER=chatweb
TEST_DB_PASSWORD=password

SMTP_HOSTNAME=in-v3.mailjet.com
SMTP_PORT=587
SMTP_USER=28da05caeb53f5ba76c517d6830d0d75
SMTP_PASSWORD=9b4b72daa658364bc738b9ea58bdbb4a

PUBLIC_APP_URL=http://localhost:3001
BACKEND_PUBLIC_URL=http://localhost:3003

SMB_CRAWLER_URL=http://localhost:3006
CRAWL4AI_URL=http://gai-crawl4ai:11245

