name: Basic linting, formatting and building

on:
  push:

env:
  DATABASE_URL: postgresql://chatweb:password@localhost:5432/chatweb?schema=public

jobs:
  eslint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Configure git to use HTTPS instead of SSH
        run: 'git config --global url."https://github.com/".insteadOf git@github.com:'
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9.15.4
          run_install: true
      - run: pnpm run lint

  prettier:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Configure git to use HTTPS instead of SSH
        run: 'git config --global url."https://github.com/".insteadOf git@github.com:'
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9.15.4
          run_install: true
      - run: pnpm run format:check

  typecheck:
    runs-on: ubuntu-22.04
    services:
      postgres: &postgres_service
        image: postgres:16
        env:
          POSTGRES_DB: chatweb
          POSTGRES_USER: chatweb
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v4
      - name: Configure git to use HTTPS instead of SSH
        run: 'git config --global url."https://github.com/".insteadOf git@github.com:'
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9.15.4
          run_install: true
      - name: Run database migrations
        run: pnpm --filter @george-ai/pothos-graphql prisma:migrate
      - name: Generate Prisma Client
        run: pnpm --filter @george-ai/pothos-graphql prisma:generate
      - run: pnpm run typecheck

  build:
    runs-on: ubuntu-22.04
    services:
      postgres: *postgres_service
    steps:
      - uses: actions/checkout@v4
      - name: Configure git to use HTTPS instead of SSH
        run: 'git config --global url."https://github.com/".insteadOf git@github.com:'
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.4
          run_install: false
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run database migrations
        run: pnpm --filter @george-ai/pothos-graphql prisma:migrate
      - name: Generate Prisma Client
        run: pnpm --filter @george-ai/pothos-graphql prisma:generate
      - name: Build
        run: pnpm build

  test:
    runs-on: ubuntu-22.04
    services:
      postgres: *postgres_service
    steps:
      - uses: actions/checkout@v4
      - name: Configure git to use HTTPS instead of SSH
        run: 'git config --global url."https://github.com/".insteadOf git@github.com:'
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9.15.4
          run_install: true
      - name: Run database migrations
        run: pnpm --filter @george-ai/pothos-graphql prisma:migrate
      - name: Generate Prisma Client
        run: pnpm --filter @george-ai/pothos-graphql prisma:generate
      - name: Run Tests
        run: pnpm run test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DATABASE_URL_TEST: ${{ 'postgresql://chatweb:password@localhost:5432/chatweb?schema=public' }}
          OLLAMA_BASE_URL: ${{ secrets.OLLAMA_BASE_URL || 'http://localhost:11434' }}
          OLLAMA_API_KEY: ${{ secrets.OLLAMA_API_KEY }}
          MODEL_NAME_CHAT: qwen3:latest
          MODEL_NAME_VL: gemma3:latest
          MODEL_NAME_EMBEDDING: bge-m3:latest
