name: Build and publish Docker images

on:
  push:
    branches:
      - main
    tags:
      - v*
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  REGISTRY_PATH: ghcr.io/progwise/george-ai

jobs:
  george-ai-frontend:
    runs-on: ubuntu-22.04
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for chat-web
        id: meta-chat-web
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_PATH }}/chat-web
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
            type=raw,value=latest

      # https://github.com/docker/build-push-action#usage
      - name: Build and push chat-web
        id: push-chat-web
        uses: docker/build-push-action@v6
        with:
          file: ./apps/chat-web/Dockerfile
          context: .
          push: true
          secrets: |
            TAVILY_API_KEY=${{ secrets.TAVILY_API_KEY }}
            OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}
            POCKETBASE_TOKEN=${{ secrets.POCKETBASE_TOKEN }}
            TYPESENSE_API_KEY=${{ secrets.TYPESENSE_API_KEY }}
          tags: ${{ steps.meta-chat-web.outputs.tags }}
          labels: ${{ steps.meta-chat-web.outputs.labels }}

      # This step generates an artifact attestation for the image, which is an unforgeable statement about where and how it was built.
      # It increases supply chain security for people who consume the image. For more information, see "[AUTOTITLE](/actions/security-guides/using-artifact-attestations-to-establish-provenance-for-builds)."
      # - name: Generate artifact attestation for chat-web
      #   uses: actions/attest-build-provenance@v2
      #   with:
      #     subject-name: ${{ env.REGISTRY_PATH }}/chat-web
      #     subject-digest: ${{ steps.push-chat-web.outputs.digest }}
      #     push-to-registry: true
  george-ai-backend:
    runs-on: ubuntu-22.04
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for backend
        id: meta-backend
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_PATH }}/backend
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
            type=raw,value=latest

      # https://github.com/docker/build-push-action#usage
      - name: Build and push backend
        id: push-backend
        uses: docker/build-push-action@v6
        with:
          file: ./apps/georgeai-server/Dockerfile
          context: .
          push: true
          tags: ${{ steps.meta-backend.outputs.tags }}
          labels: ${{ steps.meta-backend.outputs.labels }}

  pocketbase:
    runs-on: ubuntu-22.04
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/docker/metadata-action#about
      - name: Extract metadata (tags, labels) for pocketbase
        id: meta-pocketbase
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_PATH }}/pocketbase
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
            type=raw,value=latest
      # https://github.com/docker/build-push-action#usage
      - name: Build and push pocketbase
        id: push-pocketbase
        uses: docker/build-push-action@v6
        with:
          file: ./apps/pocketbase/Dockerfile.production
          context: ./apps/pocketbase
          push: true
          tags: ${{ steps.meta-pocketbase.outputs.tags }}
          labels: ${{ steps.meta-pocketbase.outputs.labels }}
